<%- include('../partials/headAndNav') %>

<div class="row align-items-center row-cols-auto">
<% for (let i = 0; i < emp.length; i++) { %>
    <div class="container text-center">
            <div class="container my-2 py-2">
                <div class="card" style="width: 18rem;">
                    <img src= <%= emp[i].img %> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= emp[i].name %></h5>
                      <p class="card-text">title: <%= emp[i].type %></p>
                      <a href="/employee/<%= emp[i]._id %>" class="btn btn-primary">See Employee</a>
                    </div> 
                  </div>
            </div>
        </div>
<% } %>
</div>
<%- include('../partials/footer') %>